<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @stores.count %> Stores</h1>
    </div>
  </div>
  <div class="row"></div>
  <% @stores.each do |store| %>
    <div class="col-sm-3">
      <h5><%= store.name %></h5>
    </div>
  <% end %>
</div>
