<div class="container">
  <div class="col-sm-12">
    <h1 class="pull-left"><%= @users.count %> Users</h1>
    <%= link_to "New User", new_user_path, class: "btn btn-default pull-right" %>
  </div>
  <% @users.each do |user| %>
    <div class="col-sm-12">
      <h2> <%= link_to user.name, user_path(user) %></h2>
    </div>
  <% end %>
</div>
