<div class="container">
  <div class="row">
    <% cache(action: "index", action_suffix: "items-count") do %>
    <div class="col-sm-12">
      <h1><%= @items.count %> Items</h1>
    </div>
    <% end %>
  </div>
  <div class="row"></div>
  <% cache(action: "index", action_suffix: "items-list") do %>
  <% @items.each do |item| %>
    <div class="col-sm-3">
      <h5><%= item.name %></h5>
      <%= link_to(image_tag(item.image_url), item_path(item)) %>
      <p>
        <%= item.description %>
      </p>
    </div>
  <% end %>
  <% end %>
</div>

